/* Hier die CSS-Anweisungen */

/* Allgemein */
* {
  font-family: 'Oswald', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}

.section {
  font-size: 3em;
  padding: 0 3em 0 3em;
  color: #429bcc;
  padding-top: 3em;
}
.content {
  margin: 50px;
}

h2 {
  color: #a3c4d6;
  font-size: 53px;
  margin-top: 0;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
  margin-top: 1.5em;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Header */
#header {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  font-size: 1.3em;
  padding: 3em 7em;

  #nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 2em;

      .active {
        a {
          color: #a3c4d6;
        }
      }

      a {
        color: #429bcc;
        font-size: 20px;
        font-weight: 300;
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
        color: #a3c4d6;
      }
    }
  }
}

/* Sections */

/* Allgemein */
.section {
  h2 {
    margin-bottom: 0;
  }

  p.sub {
    margin-bottom: 2em;
    margin-top: 0;
    font-size: 20px;
  }

  div.chart-container {
    height: 500px;
    width: 1000px;
    position: relative;

    canvas {
      margin-bottom: 30em;
    }
  }

  p.chart-info {
    font-size: 16px;
  }
}

/* Spezifisch */
#section-1 {
  background-image: url('Images/Background.png');
  background-size: cover;

  h1 {
    font-size: 52px;
    padding-top: 150px;
    font-weight: 400;
    color: #a3c4d6;

    #big {
      font-size: 90px;
      display: block;
    }
  }

  div {
    padding-top: 150px;
    font-size: 16px;

    p {
      margin: 0;
      font-weight: 300;
    }
  }
}

#section-2 {
  div.inner-section {
    width: 70%;
  }
  p.intro-text {
    margin-top: 3em;
  }

  h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  div.icons {
    div.icon-element {
      display: inline-block;
      width: 33%;

      img {
        height: 40px;
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      p.icon-heading {
        color: #a3c4d6;
        font-size: 20px;
        margin: 0;
      }
    }
  }
}

#section-4 {
  .slide {
    .chart-container {
      margin: 0 auto;
    }

    .chart-info {
      margin: 0 auto;
    }
  }
}
