/* Hier die CSS-Anweisungen */

/* Allgemein */
* {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.section {
  font-size: 3em;
  padding: 0 3em 0 3em;
  color: #429bcc !important;
  padding-top: 3em;
}
.content {
  margin: 50px;
}

h2 {
  color: #a3c4d6 !important;
  font-weight: 400 !important;
}

/* Header */
#header {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  font-weight: 300 !important;
  font-size: 1.3em;
  padding: 2em 7em;

  #nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 1em;

      .active {
        a {
          color: #a3c4d6 !important;
        }
      }

      a {
        color: #429bcc !important;
      }

      a:hover {
        text-decoration: none;
        color: #a3c4d6 !important;
      }
    }
  }
}

/* Sections */
#section-1 {
  background-image: url('Images/Background.png');
  background-size: cover;

  h1 {
    padding-top: 250px;
    font-weight: 400 !important;
    color: #a3c4d6 !important;

    #big {
      font-size: 175%;
      display: block;
    }
  }

  div {
    padding-top: 150px;
    font-weight: 300 !important;
    font-size: 16px !important;

    p {
      margin: 0;
    }
  }
}
